/.DS_Store
/.vscode
/Chapter-2.py
/Chapter3.py
/FirstProgram.py
/HTTP Server Fetch.py
/My Notes.docx
/OOPSChaper10.py
/chapter5.py
/chapter6Loop.py
/demo.txt
/filename.html
/forloopChapter7.py
/functionChapter8.py
/index.html
/ioFileChapter9.py
/number.txt
/server.py
/~$ Notes.docx